<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.newdt.sqlaudit.product.mapper.AuditSqlTextMapper">
  <sql id="columns">
    id,
    sql_digest_id sqlDigestId,
    sql_text sqlText
  </sql>

  <delete id="delete">
    /*ORACLE-mybatis*/
    delete from ${mybatis.schema1}.audit_sql_text
    where sql_digest_id = #{sqlDigestId,jdbcType=BIGINT}
  </delete>

  <insert id="add" parameterType="cn.newdt.sqlaudit.product.domain.AuditSqlText">
    /*ORACLE-m   ybatis*/
    insert into ${mybatis.schema1}.audit_sql_text (sql_digest_id, sql_text)
    values (#{sqlDigestId,jdbcType=VARCHAR}, #{sqlText,jdbcType=LONGVARCHAR})
  </insert>

  <insert id="addList" parameterType="cn.newdt.sqlaudit.product.domain.AuditSqlText" useGeneratedKeys="true"
          keyProperty="id">
    /*ORACLE-mybatis*/
    insert into ${mybatis.schema1}.audit_sql_text (sql_digest_id, sql_text)
    values
    <foreach collection="sqls" item="sqlText" separator=",">
      (#{sqlText.sqlDigestId,jdbcType=VARCHAR}, #{sqlText.sqlText,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>

  <select id="get" parameterType="java.lang.Long" resultType="cn.newdt.sqlaudit.product.domain.AuditSqlText">
    /*ORACLE-mybatis*/
    select
    <include refid="columns" />
    from ${mybatis.schema1}.audit_sql_text
    where sql_digest_id = #{sqlDigestId,jdbcType=BIGINT}
  </select>
  
    <select id="get" parameterType="java.lang.Long" resultType="cn.newdt.sqlaudit.product.domain.AuditSqlText">
      /*ORACLE-mybatis*/
    SELECT `DB`,NAME `PROC_NAME` FROM `mysql`.`proc` WHERE `db` != ?
  </select>



  <delete id="deleteBatch" parameterType="java.lang.Long">
    /*ORACLE-mybatis代码审核-审核记录对比-修改mybatis文件的原有的SQL语句*/
    delete from ${mybatis.schema1}.audit_sql_text
    where sql_digest_id IN
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>



</mapper>